h1 {
    font-style: italic;
    text-align: center;
}
body {
    text-align: center;
    background-image: url("C:\Users\Ethan\Pictures\mustang madness picture background.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}